<header class="baseBox">
  <div class="title baseBox">
    <span class="icon-stack baseBox"></span>
    <h1>Control de estudiantes</h1>
  </div>
  <div class="navBar">
    <nav>
      <ul>
        <li>
          <%= link_to 'Inicio' %>
        </li>
        <li>
          <%= link_to 'Solicitudes' %>
        </li>
        <li>
          <%= link_to 'Admisiones' %>
        </li>
        <li class="excluded">
          <%= link_to 'Desarrolladores' %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="logIn baseBox">
    <span class="icon-user baseBox"></span>
    <%=link_to 'Iniciar sesión' %>
  </div>
</header>
