<h1>Turno Matutino</h1>

<h2>Programación A</h2>
<!-- Inicia !-->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Calificacion Examen</th>
      <th>Calificacion Secundaria</th>
      <th>Especialidad Primaria</th>
      <th>Especilidad Secundaria</th>
      <th>Es foraneo</th>
    </tr>
  </thead>
  <tbody>
    <% @PrograMA.each do |accept| %>
    <tr>
      <td><%= accept.id %></td>
      <td><%= accept.name %></td>
      <td><%= accept.examMark %></td>
      <td><%= accept.schoolAverage %></td>
      <td><%= accept.speciality %></td>
      <td><%= accept.secondSpeciality %></td>
      <td><%= accept.isForeign%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<!-- Acaba !-->

<h2>Programación B</h2>
<!-- Inicia !-->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Calificacion Examen</th>
      <th>Calificacion Secundaria</th>
      <th>Especialidad Primaria</th>
      <th>Especilidad Secundaria</th>
      <th>Es foraneo</th>
    </tr>
  </thead>
  <tbody>
    <% @PrograMB.each do |accept| %>
    <tr>
      <td><%= accept.id %></td>
      <td><%= accept.name %></td>
      <td><%= accept.examMark %></td>
      <td><%= accept.schoolAverage %></td>
      <td><%= accept.speciality %></td>
      <td><%= accept.secondSpeciality %></td>
      <td><%= accept.isForeign%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<!-- Acaba !-->
