<div class="baseBox">
  <header>
    <h1>Prueba meh</h1>
  </header>
  <section>
    <h2>Turno Matutiono</h2>
    <!-- Inicia !-->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Calificacion Examen</th>
          <th>Calificacion Secundaria</th>
          <th>Especialidad Primaria</th>
          <th>Especilidad Secundaria</th>
        </tr>
      </thead>
      <tbody>
        <% @acceptedM.each do |n| %>
          <% n.each do |accept|%>
          <tr>
            <td><%= accept.id %></td>
            <td><%= accept.name %></td>
            <td><%= accept.examMark %></td>
            <td><%= accept.schoolAverage %></td>
            <td><%= accept.speciality %></td>
            <td><%= accept.secondSpeciality %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <!-- Acaba !-->
    <h2>Turno Vespertino</h2>
    <!-- Inicia !-->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Calificacion Examen</th>
          <th>Calificacion Secundaria</th>
          <th>Especialidad Primaria</th>
          <th>Especilidad Secundaria</th>
        </tr>
      </thead>
      <tbody>
        <% @acceptedV.each do |n| %>
          <% n.each do |accept|%>
          <tr>
            <td><%= accept.id %></td>
            <td><%= accept.name %></td>
            <td><%= accept.examMark %></td>
            <td><%= accept.schoolAverage %></td>
            <td><%= accept.speciality %></td>
            <td><%= accept.secondSpeciality %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <!-- Acaba !-->
  </section>
</div>
