<%= render 'groupSerch' %>
<div>
  <% if user_signed_in? %>
    <%= render 'header' %>
    <div class="body">
      <aside class="sideBar">
        <div class="subtitle baseBox">
          <span class="icon-book baseBox"></span>
          <div>
            <h2>Acciones</h2>
          </div>
        </div>
        <div class="actions">
          <% if Group.all.length > 0 %>
            <a href="/groups.xls" class="button baseBox">
              <span class="icon-folder-download"></span>
              <h3>Exportar grupos</h3>
            </a>
            <span class="button baseBox" id="showGroups">
              <span class="icon-profile"></span>
              <h3>Revisar grupos</h3>
            </span>
            <span class="baseBox find">
            <%= form_tag '/search', :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Buscar", :name => nil, :class => "submitBtn" %>
              </p>
            <% end %>
            </span>
            <a href="/deleteData" class="button baseBox danger">
              <span class="icon-bin2"></span>
              <h3>Vaciar bases de datos</h3>
            </a>
          <% else %>
            <a href='/generate' class="button baseBox">
              <span class="icon-checkmark"></span>
              <h3>Generar grupos</h3>
            </a>
          <% end %>
        </div>
      </aside>
      <% if Group.all.length < 1 %>
      <section class="content">
        <div>
          <div class="subtitle baseBox">
            <span class="icon-file-text2 baseBox"></span>
            <div>
              <h2>Generar grupos</h2>
              <p>Aquí puedes generar los grupos de forma definitiva.</p>
            </div>
          </div>
          <div class="info">
            <p>
              En este apartado puedes generar los grupos de forma definitiva, por lo que hemos limitado a utilizar las acciones de este apartado solo una vez.<br><br>
              Los grupos se generan bajo parámatros y filtros predefinidos (constantes) los cuales fueron predefinidos en la programación de este programa, si desea
              usted usuario poder utilizar parámetros y filtros perzonalizados (variables) puede contactar a los desarrolladores para realizar y actualizar la aplicación
              web.
              </p>
          </div>
        </div>
      </section>
      <% else %>
      <section class="content">
        <div>
          <div class="subtitle baseBox">
            <span class="icon-bug baseBox"></span>
            <div>
              <h2>Bugs y errores</h2>
              <p>¿Fallos en el programa?</p>
            </div>
          </div>
          <div class="info">
            <p>
              Si cree que hay un error lógico dentro del programa, o el programa no da los resultados esperados, o el software simplemente no funciona y
              devuelve un error, intente contactar a los desarrolladores del software para reportar el error e intentar resolverlo.
              Para mas información sobre como contactar a los desarrolladores visite la sección Desarrolladores.
            </p>
          </div>
        </div>
      </section>
      <%= render 'admited' %>
      <% end %>
    </div>
  <% else %>
    <%= render 'noSesion' %>
  <% end %>
</div>
