<% if user_signed_in? %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>Examen de admici칩n:</strong>
    <%= @group.examMark %>
  </p>

  <p>
    <strong>Promedio de secundaria:</strong>
    <%= @group.schoolAverage %>
  </p>

  <p>
    <strong>Es for치neo:</strong>
    <%= @group.isForeign %>
  </p>

  <p>
    <strong>Primera opci칩n:</strong>
    <%= @group.speciality %>
  </p>

  <p>
    <strong>Segunda opci칩n:</strong>
    <%= @group.secondSpeciality %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= @group.turn %>
  </p>

  <p>
    <strong>Especialidad Definitiva:</strong>
    <%= @group.finalSpeciality %>
  </p>

  <p>
    <strong>Secondspeciality:</strong>
    <%= @group.group %>
  </p>

  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', groups_path %>
<% else %>
  <% render 'noSesion' %>
<% end %>
