<header class="baseBox">
  <div class="title baseBox">
    <span class="icon-stack baseBox"></span>
    <h1>Control de estudiantes</h1>
  </div>
  <div class="navBar">
    <nav>
      <ul>
        <li>
          <%= link_to 'Inicio', root_path %>
        </li>
        <li>
          <%= link_to 'Admisiones', '/admisiones' %>
        </li>
        <li>
          <%= link_to 'Solicitudes', requests_path %>
        </li>
        <li>
          <%= link_to 'Crear grupos', groups_path %>
        </li>
        <li class="excluded">
          <%= link_to 'Desarrolladores', '/desarrolladores' %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="logIn baseBox">
    <span class="icon-user baseBox"></span>
    <% if user_signed_in? %>
      <%= link_to current_user.email, destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to 'Iniciar sesión', '/users/sign_in' %>
    <% end %>
  </div>
</header>
